<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>

    </style>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/movie_info.css">
</head>
<body>
<header>
    <a href="/" style="float: left">
    <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/c/c0/Poisonous_Potato_JE3_BE2.png/revision/latest?cb=20200521233152" alt="" srcset="" style="height: 40px;">
    rotten potatoes INC.
    </a>

    {% if user %}
        <a href="/" class="button">Wyloguj się</a>
    {% else %}
        <a href="/login" class="button">Zaloguj się</a>
        <a href="/register" class="button">Zarejestruj się</a>
    {% endif %}

</header>
{% block content %}
{% endblock %}
<footer>
    all rights reserved, even tho we don't have any
</footer>
</body>
</html>