<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'movie_info.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login_register.css' %}">
</head>
<body>
<header>
    <a href="/" style="float: left">
    <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/c/c0/Poisonous_Potato_JE3_BE2.png/revision/latest?cb=20200521233152" alt="" srcset="" style="height: 40px;">
    rotten potatoes INC.
    </a>

    {% if user.id is None %}
        <a href="/login" class="button">Zaloguj się</a>
        <a href="/register" class="button">Zarejestruj się</a>
    {% else %}
        <a href="{% url 'logout' %}" class="button">Wyloguj się</a>
        <a href="/user" class="button">Wyświetl swoje konto</a>
    {% endif %}

</header>
<!--{% if user %}
    <p>Witaj użytkowniku o ID {{ user.id }}!</p>
{% endif %}-->
{% block content %}
{% endblock %}
<footer>
    all rights reserved, even tho we don't have any
</footer>
</body>
</html>