{% extends "base.html" %}
{% block title %}
   main site
{% endblock %}
{% block content %}
    <div class="search-bar">
        <form method="get">
            <select name="kategoria">
                <option value="">wszystkie</option>
                {% for kat in kategorie %}
                <option value="{{ kat.id }}">{{ kat.Nazwa }}</option>
                {% endfor %}
            </select>
            <input type="text" name="fraza" placeholder="Szukaj filmu..."></input>
            <input type="submit" value="szukaj">
        </form>
    </div>
    <div class="items">
    {% for film in filmy %}
    <a href="/info/{{ film.id }}/">
        <div class="item">
            <div class="photo" style=" margin: 10px; float: left">
                {% if film.Plakat %}
                    <img src="{{ film.Plakat.url }}" alt="Plakat filmu" style="max-height: 100%; max-width: 100%;">
                {% else %}
                    <p>Plakat niedostępny</p>
                {% endif %}
            </div>
            <h2>{{ film.Tytul }}</h2>
            <h4>{{ film.ID_Kategorii }}</h4>
            <h3>{{ film.Rezyser }}</h3>
            <span>{{ film.Dlugosc_ilosc_odcinkow}}</span> <br />
            <span class="home_desc">{{film.Opis}}</span>
        </div>
    </a>
    {% endfor %}
    </div>
{% endblock %}