{% extends "base.html" %}
{% block title %}
   informacje o filmie
{% endblock %}
{% block content %}
<div class="info">
    <div style="text-align: center">
        <h1 style="color: green; background-color: white">{{ film.Tytul }}</h1>
    </div>
    <div class="photo" style="height: 400px; width: 400px; margin: 10px; float: left">znowu miejsce na zdjęcie, tym razem większe</div>
    <div class="opis">Reżyser/reżyserzy: {{ film.Rezyser }}</div><br/><br/><br/>
    <div class="opis">Kategoria: {{ film.ID_Kategorii_id }}</div><br/><br/><br/>
    <div class="opis">Długość: {{ film.Dlugosc_ilosc_odcinkow }}</div>
    <div class="opis" style="clear: both; text-align: center">Opis: {{ film.Opis }}</div>
</div>
<div id="wrapper">
    <div id="opinion_popup" style="display: none">
        <form action="" method="POST">
            <label>Ocena: <input type="number" name="score" /></label><br /><br />
            <label>Komentarz:<br /><textarea name="comment"></textarea></label><br /><br />
            <input type="hidden" name="id_uzytkownika" value="{{ user.id }}" />
            <input type="hidden" name="id_produkcji" value="{{ film.id }}" />
            {% if user.id is not None %}
            <input type="submit" value="Dodaj opinię">
            {% else %}
            <input type="submit" value="Dodaj opinię" disabled> <span>Aby dodać opinię należy się zalogować.</span>
            {% endif %}
            {% csrf_token %}
        </form>
    </div>
    <div style="margin: 20px; cursor: pointer; width: fit-content; user-select: none;"
         class="button" onclick="popup()" id="popup_button">Dodaj opinię</div>
    {% for opn in opinie %}
        <div class="cepibula">
            {% for u in uzytkownicy %}
                {% if opn.ID_Uzytkownika_id == u.id %}
                    <div class="user"><h2>{{ u.Nazwa_Uzytkownika }}</h2></div>
                {% endif %}
            {% endfor %}
            <div class="rate">{{ opn.Ocena }}/10</div>
            <div class="comment">{{ opn.Komentarz }}</div>
        </div>
    {% endfor %}
</div>
<script>
    let visible = false;
    function popup(){
        if(!visible){
            visible = true;
            document.getElementById("opinion_popup").style.display = "";
            document.getElementById("popup_button").innerHTML = "Anuluj";
        }
        else{
            visible = false;
            document.getElementById("opinion_popup").style.display = "none";
            document.getElementById("popup_button").innerHTML = "Dodaj opinię";
        }
    }
</script>
{% endblock %}
