{% extends "base.html" %}
{% block title %}
   informacje o filmie
{% endblock %}
{% block content %}
<div class="info">
    <div style="text-align: center">
        <h1>{{ film.Tytul }}</h1>
    </div>
    <div class="photo_2" style=" margin: 10px; float: left">
        {% if film.Plakat %}
            <img src="{{ film.Plakat.url }}" alt="Plakat filmu">
        {% else %}
            <p>Plakat niedostępny</p>
        {% endif %}
    </div>
    <div class="opis">Reżyser/reżyserzy: {{ film.Rezyser }}</div><br/><br/><br/>
    <div class="opis">Kategoria: {{ film.ID_Kategorii }}</div><br/><br/><br/>
    <div class="opis">Długość: {{ film.Dlugosc_ilosc_odcinkow }}</div><br/><br/><br/>
    <div class="opis" style="text-align: center">Średnia ocena: {{ average_rating }}/10</div>
    <div class="opis" style="clear: both; text-align: center">Opis: {{ film.Opis }}</div>
    <br />
    <div style="clear: both; width: 100%;">
    {% if user.id is not None %}
        <form method="POST" action="{% url 'add_to_watchlist' film.id %}" style="float: left;">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input type="hidden" name="film_id" value="{{ film.id }}">
            <button type="submit" class="button">Dodaj do listy "Do obejrzenia"</button>
        </form>

        <form method="POST" action="{% url 'add_to_watchedlist' film.id %}">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input type="hidden" name="film_id" value="{{ film.id }}">
            <button type="submit" class="button">Dodaj do listy "Obejrzane"</button>
        </form>
    {% endif %}
    </div>
</div>

<div id="wrapper">
    <div id="opinion_popup" style="display: none">
        <form action="" method="POST">
            <label>Ocena: <input type="number" name="score" /></label><br /><br />
            <label>Komentarz:<br /><textarea name="comment"></textarea></label><br /><br />
            <input type="hidden" name="id_uzytkownika" value="{{ user.id }}" />
            <input type="hidden" name="id_produkcji" value="{{ film.id }}" />
            <input type="hidden" name="review_id" id="review_id_input" />
            {% if user.id is not None %}
            <input type="submit" value="Dodaj/Edytuj opinię">
            {% else %}
            <input type="submit" value="Dodaj/Edytuj opinię" disabled> <span class="error">Aby dodać opinię należy się zalogować.</span>
            {% endif %}
            {% csrf_token %}
        </form>
        <span class="error">{{ error }}</span>
    </div>
    <div style="margin: 20px; cursor: pointer; width: fit-content; user-select: none;"
         class="button" onclick="popup()" id="popup_button">Dodaj/Edytuj opinię</div>
    {% for opn in opinie %}
        <div class="cepibula">
            {% for u in uzytkownicy %}
                {% if opn.ID_Uzytkownika_id == u.id %}
                    <div class="user"><a href="/user/{{ u.id }}"><h2>{{ u.Nazwa_Uzytkownika }}</h2></a></div>
                {% endif %}
            {% endfor %}
            <div class="rate">{{ opn.Ocena }}/10</div>
            <div class="comment">{{ opn.Komentarz }}</div>
            {% if user.id == opn.ID_Uzytkownika_id %}
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="review_id" value="{{ opn.id }}">
                    <button type="submit" name="action" value="delete_review" class="button">Usuń opinię</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
</div>
<script>
    let visible = false;
    function popup(){
        if(!visible){
            visible = true;
            document.getElementById("opinion_popup").style.display = "";
            document.getElementById("popup_button").innerHTML = "Anuluj";
        }
        else{
            visible = false;
            document.getElementById("opinion_popup").style.display = "none";
            document.getElementById("popup_button").innerHTML = "Dodaj opinię";
        }
    }
    function editOpinion(reviewId, score, comment) {
        document.getElementById("score_input").value = score;
        document.getElementById("comment_input").value = comment;
        document.getElementById("review_id_input").value = reviewId;
        popup();
    }
</script>
{% endblock %}
