{% extends "base.html" %}
{% block title %}
   User
{% endblock %}
{% block content %}
<style>
    input[type=checkbox] {
    transform: scale(1.5);
}
</style>
<div style="margin: 20px; color: white;">
    <h2>{{user.Nazwa_Uzytkownika}}</h2>
    <h2>{{user.E_mail}}</h2>
    <h2 style="clear: both;"><label>Dane publiczne:
        {% if user.Publiczne %} <input type="checkbox" checked disabled> {% else %}
        <input type="checkbox" disabled> {% endif %}</label>
    </h2><br />
    <a href="/my_watchlist/"><div class="button" style="float: left; margin-right: 20px;"> Do obejrzenia</div></a>
    <a href="/my_watched_list/"><div class="button" style="float: left"> Obejrzane</div></a>
</div>
{% endblock %}