{% extends "base.html" %}
{% block title %}
   Lista filmów
{% endblock %}

{% block content %}
<div class="title">Twoja lista {{ type }}</div>
{% for film in items %}
<a href="/info/{{ film.id }}/">
    <div class="list_item" style="position: relative;">
        <div class="wl_photo" style=" margin: 10px; float: left">
            {% if film.Plakat %}
                <img src="{{ film.Plakat.url }}" alt="Plakat filmu" style="max-height: 100%; max-width: 100%;">
            {% else %}
                <p>Plakat niedostępny</p>
            {% endif %}
        </div>
        <div class="right">
            <h2>{{ film.Tytul }}</h2>
            <h4>{{ film.ID_Kategorii }}</h4>
            <h3>{{ film.Rezyser }}</h3>
            <span>{{ film.Dlugosc_ilosc_odcinkow}}</span>
        </div>
        <form method="POST" style="position: absolute; top: 10px; right: 10px">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input type="hidden" name="movie_id" value="{{ film.id }}">
            <input type="hidden" name="type" value="{{ type }}">
            <button type="submit" class="button">Usuń</button>
        </form>
    </div>
</a>
{% endfor %}
{% endblock %}