*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header, footer {
    padding: 10px;
    text-align: center;
    height: 5vh;
    width: 98.945vw;
    background-color: black;
    color: white;
    font-size: 2em;
}

footer {
    position: absolute;
    bottom: 0;
}

.button {
    background-color: rgb(60,60,60);
    padding: 8px;
    border-radius: 5px;
    color: white;
}

.button:hover {
    background-color: rgb(95,95,95);
    color: black;
}

header > .button {
    float: right;
    font-size: medium;
    margin: 7px;
    right: 10px;
}