body {
    background-color: darkslategrey;
}

.item {
    margin: 20px;
    text-align: center;
    float: left;
    width: 20vw;
    height: 32vh;
    background-color: turquoise;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.item * {
    padding: 3px;
}

.photo {
    height: 100px;
    width: 100px;
    margin: 10px auto 10px auto;
    background-color: black;
    color: white;
    vertical-align: center;
}

.item > span {
    display: inline-block;
}

.item > .home_desc {
    max-height: 3.5vh;
    width: 15vw;
    background-color: darkblue;
    color: white;
    overflow: hidden;
    padding: 7px;
}

.item > .home_desc:hover {
    overflow: auto;
    max-height: unset;
}

.search-bar {
    padding: 10px;
}