.title {
    padding: 10px;
    font-size: 2.5em;
    text-align: center;
    color: var(--primary-content);
}

.list_item {
    margin: 20px;
    height: 20vh;
    background-color: var(--secondary);
    color: var(--secondary-content);
    border-radius: 5px;
    cursor: pointer;
}

.list_item > .wl_photo {
    height: 15vh;
    background-color: var(--foreground);
    color: var(--copy);
    vertical-align: center;
    padding: 10px;
}

.wl_photo > img {
    max-height: 100%;
}

.list_item > .right {
    text-align: center;
}